body{
}
#container{
    width: 900px;
    margin: auto;
}
header{
    background-color: violet;
    height: 200px;
}
#hizliErisim{
    background-color: lightgreen;
}

#slider{
    background-color: lightpink;
    height: 250px;
}

#duyuru{ 
    background-color: lightblue;
}

footer{
    background-color: black;
    color: white;
}